.lista-dicas {
    display: flex;
    flex-flow: wrap;
    width: 100%;
    margin-block: 2vh 10vh;
    gap: 2vh;
}

.lista-dicas img {
    height: 100%;
    width: 40%;
    object-fit: cover;
}

.lista-dicas li {
    flex-grow: 1;
    flex-basis: 300px;
    height: 15vh;
}

.lista-dicas a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 2rem;
    border-radius: 2rem;
    background: #D3E5E6;
}

/* CSS API CLIMA */
.clima-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    border-radius: 2rem;
    margin-block: 2vh 6vh;
    background: linear-gradient(135deg, #e5ebf5 50%,#cfddf5 100%);
}

#container,
.alerta-section{
    background-color: #f0f8ff;
    border-radius: 2rem;
    padding: 18px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

#search,
#pesquisar-local {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    border: 1px solid #bdbdbd;
    border-radius: 10px;
    padding: 4px 12px;
}

#search input,
#pesquisar-local input {
    border: none;
    background-color: transparent;
    font-size: 16px;
    width: 100%;
}

#search input:focus-visible,
#pesquisar-local input:focus-visible {
    outline: none;
}

#search button,
#pesquisar-local button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#weather{
    display: none;
    margin-top: 2rem;
}

#weather.show{
    display: block;
}

#weather #title{
    text-align: center;
    margin-bottom: 5px;
    font-weight: 600;
    color: #372f3f;
}

#temp{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    background: linear-gradient(90deg, #5a7cdc,#606dde);
    color: #fff;
    border-radius: 2rem;
    padding: 2rem;
}

#temp_img{
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2));
}

#temp_value{
    font-weight: bold;
    font-size: 5rem;
    line-height: 5.5rem;
}

#temp_description{
    font-weight: 500;
    text-transform: capitalize;
}

#other_infos{
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}

#other_infos .info{
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 4px 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    gap: 10px;
}

#other_infos .info h2{
    font-size: 1.2rem;
    font-weight: 600;
}

#other_infos .info i{
    text-align: center;
    font-size: 2rem;
    width: 20%;
}

#temp_max_icon{
    color: #7f1d1d
}

#temp_min_icon{
    color: #0284c7
}

#humidity_icon{
    color: #0ea5e9
}

#wind_icon{
    color: #7c3aed
}

#alert {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#alert img{
    width: 20rem;
    margin-top: 2rem;
}

.alerta-section {
    width: 80%;
    min-width: 300px;
    margin: 0 auto;
}

.alerta-section .botao {
    width: 45%;
}

.alerta-section div {
    display: flex;
    justify-content: space-between;
}

#pesquisar-local {
    display: flex;
    justify-content: space-between;
    margin-block: 4vh;
}

.fechar {
    height: 4rem;
    width: 4rem;
    border: 1rem solid #606dde;
    border-radius: 4rem;
    margin-bottom: 2rem;
    background: #606dde url('../images/icone-fechar.png') center/contain no-repeat;
}

/* Pop up para emitir alerta/locais seguros */
dialog {
    padding: 4rem 2rem;
    border: none;
    border-radius: 2rem;
    margin: auto;
    outline: none;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.2);
}

/*--------------------- Media queries ---------------------*/
@media (min-width: 982px) {
    .lista-dicas li {
        flex-basis: 400px;
    }
}