#landingpage > * {
    margin-bottom: 5vh;
}

/* 1ª seção*/
.hero {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 2rem;
    border-radius: 1rem;
    margin-top: 2vh;
    background: #D3E5E6;
}

.hero-banner,
.figura {
    height: 79vh;
    width: 50%;
    min-width: 200px;
}

.hero-banner img,
.figura img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.hero-titulo {
    max-width: 50%;
    padding: 8vh 2vw;
    padding-left: 4vw;
}

/* 2ª seção */
.secao1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.descricao ul {
    display: flex;
    flex-flow: column;
    margin-top: 4vh;
    gap: 2vh;
}

.descricao li {
    display: flex;
    align-items: center;
    gap: 1vw;

    & img {
        height: 4rem;
    }
}

/*--------------------- Media queries ---------------------*/
@media (max-width: 600px) {
    .hero-titulo {
        max-width: 100%;
    }

    .hero-banner {
        display: none;
    }

    .figura {
        height: 60vh;
    }
}


@media (max-width: 500px) {
    .figura {
        display: none;
    }
}