/*--------------------- Imports ---------------------*/
/* Fonte para titulos */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* Fonte para corpo */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*--------------------- Variáveis ---------------------*/
:root {
  --branco: 'cor falta ser definida';
  --preto: 'cor falta ser definida';
  --cinza: 'cor falta ser definida';
  --primaria: 'cor falta ser definida';
  --secundaria: 'cor falta ser definida';
  --botoes: 'cor falta ser definida';
}

/* Reset de css */
*,
a,
ul {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  color: black;
  font-size: 2rem;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* Ajuste de medida rem */
html {
  font-size: 62.5%;
}

/* Titulos */
h1 {
  font-size: 5.6rem;
}

h2 {
  font-size: 3.5rem;
}

h1,
h2,
h3 {
  font-family: 'Outfit', sans-serif;
}

/* base */
body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: column;
  height: 90vh;
  margin-top: 10vh;
  overflow-x: hidden;
}

/* Header */
header,
footer,
.limite-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
}

header {
  width: 100vw;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.2);
  background: white;
  position: fixed;
  top: 0;
  z-index: 4;
}

.limite-container {
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  padding: 1vh 2vw;
  position: relative;
}

.logo {
  height: 4rem;
}

.limite-container ul {
  display: flex;
  justify-content: space-around;
  gap: 1vw;
}

/* Botões */
button {
  border: none;
}

.botao {
  display: flex;
  justify-content: center;
  min-width: 12rem;
  padding: 1rem 1.25rem;
  border-radius: 1rem;
  background: #214EE5;
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
}

.botao.variante {
  outline: 0.2rem solid #214EE5;
  background: white;
  color: #214EE5;
}

/* Botões do header pós entrada */
.navegador-paginas {
  position: absolute;
  bottom: -2.7rem;
  right: 1vw;

  & ul {
    gap: 0.5vw;
  }
}

.navegador-paginas a {
  display: flex;
  justify-content: center;
  min-width: 9rem;
  padding: 0.25rem 1rem;
  border-radius: 0 0 0.5rem 0.5rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.2);
  background: white;
  font-size: 1.5rem;
  font-weight: 500;
  transition: transform 0.3s ease;
}

.navegador-paginas a:hover {
  color: #214EE5;
  font-weight: 600;
}

.navegador-paginas a.link-ativo {
  background: #D3E5E6;
  box-shadow: none;
  transform: translateY(1rem);
}

/* Menu hamburguer para responsividade */
.abrir-menu {
  display: none;
  height: 2.5rem;
  z-index: 5;
}

.navegador-mobile {
  display: none;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
}

.navegador-mobile ul {
  height: 100vh;
  width: 35vw;
  min-width: 250px;
  padding: 2rem;
  padding-top: 12vh;
  border-radius: 2vh 0 0 2vh;
  background: white;
  float: right;

  & li {
    margin-block: 2vh;
    width: 100%;
  }
}

/* teste - deixar o alcançe máximo 100% do pai */
.navegador-mobile a {
  display: flex;
  width: 100%;
}

.navegador-mobile a.link-ativo {
  padding-inline: 1rem;
  border-radius: 0.2rem;
  outline: #D3E5E6 solid 0.5rem;
  background: #D3E5E6;
}

/* Padronização de main */
main {
  width: 90%;
  max-width: 1200px;
}

/* Conteúdo inicial (titulo) */
.titulo {
  padding: 4rem;
  border-radius:0 0 4rem 4rem;
  background: #D3E5E6;
  transform: translateY(-2rem);
}

/* Footer */
footer {
  width: 100vw;
  padding: 2vh 0 4vh 0;
  margin-top: 5vh;
  background: #313131;
  z-index: 2;
  order: 1;

  & p,
  a {
    font-size: 1.25rem;
    text-align: center;
    color: white;
  }
}

footer section {
  display: flex;
  align-items: center;
  flex-flow: column;
}

footer nav {
  width: 100%;
  max-width: 38rem;
}

/*--------------------- Media queries ---------------------*/
@media (max-width: 600px) {

  /* Ajuste de header landing page*/
  .navegador-entradas {
    background: white;
    padding: 1rem;
    padding-top: 0.5rem;
    border-radius: 0 0 1rem 1rem;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.2);
    position: absolute;
    bottom: -5rem;
    right: 1vw;

    & a {
      min-width: 9rem;
      font-size: 1.25rem;
    }
  }
}

@media (max-width: 768px) {

  /* Ajuste de fontes */
  *,
  a {
    font-size: 1.6rem;
  }

  h1 {
    font-size: 4.2rem;
  }

  h2 {
    font-size: 2.8rem;
  }

  h3 {
    font-size: 2.4rem;
  }

  /* Ajuste de header pós entrada*/
  .abrir-menu {
    display: flex;
  }

  .navegador-paginas {
    display: none;
  }

  /* Ajuste de posição dos links do footer */
  footer .limite-container {
    justify-content: center;
    gap: 2vh;
  }
}